body {}

.navbar {
    background-color: ##FBFCFC;
}

.quem-somos {
    background-color: #D6DBDF;
}

.margin {
    padding: 25px;
}

.parceiros {
    background-color: #E59866;
}

.bg-footer {
    background-color: black;
}